prune common
include LICENSE

include hoverxref/_static/js/hoverxref.js_t

include hoverxref/_static/js/tooltipster.bundle.min.js
include hoverxref/_static/css/tooltipster.bundle.min.css
include hoverxref/_static/css/tooltipster-sideTip-shadow.min.css
include hoverxref/_static/css/tooltipster.custom.css
include hoverxref/_static/css/tooltipster-sideTip-light.min.css
include hoverxref/_static/css/tooltipster-sideTip-borderless.min.css
include hoverxref/_static/css/tooltipster-sideTip-noir.min.css
include hoverxref/_static/css/tooltipster-sideTip-punk.min.css

include hoverxref/_static/js/micromodal.min.js
include hoverxref/_static/css/micromodal.css
include hoverxref/_static/css/sphinx_material.css
include hoverxref/_static/css/sphinx_rtd_theme.css

prune tests