version: 2.1

commands:
  run-tox:
    description: "Run tox"
    parameters:
      version:
        type: string
      sphinx-version:
        type: string
        default: "18,20,21,22,23,24,30,31,32,33,34,35,40,41,42,latest"
    steps:
      - checkout
      - run: pip install --user tox
      - run: tox -e "<<parameters.version>>-sphinx{<<parameters.sphinx-version>>}"

jobs:
  py36:
    docker:
      - image: 'cimg/python:3.6'
    steps:
      - run-tox:
          version: py36
  py37:
    docker:
      - image: 'cimg/python:3.7'
    steps:
      - run-tox:
          version: py37

  py38:
    docker:
      - image: 'cimg/python:3.8'
    steps:
      - run-tox:
          version: py38

  py39:
    docker:
      - image: 'cimg/python:3.9'
    steps:
      - run-tox:
          version: py39

  py310:
    docker:
      - image: 'cimg/python:3.10'
    steps:
      - run-tox:
          version: py310
          # Do not run tests for Python 3.10 and some versions of Sphinx because it's broken
          # See https://github.com/sphinx-doc/sphinx/issues/9816
          sphinx-version: "18,20,21,22,23,24,42,latest"

workflows:
  version: 2
  test:
    jobs:
      - py36
      - py37
      - py38
      - py39
      - py310
