.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-custom .tooltipster-content h1 {
    font-size: 2em;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-custom .tooltipster-content h2 {
    font-size: 1.7em;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-custom .tooltipster-content h3 {
    font-size: 1.4em;
}
