sphinx==4.2.0
sphinx-autoapi==1.8.4

# Titles on tooltips are not rendering properly. Weird chars are being shown.
sphinx-rtd-theme==0.5.2  # pyup: ignore

sphinx-tabs==3.2.0
sphinx-prompt==1.4.0
sphinx-version-warning==1.1.2
sphinx-notfound-page==0.7.1
sphinx-autobuild==2021.3.14
