sphinx==3.5.0
sphinx-autoapi==1.7.0
sphinx-rtd-theme==0.5.1

# Newer versions drop support for Sphinx<2 and
# Sphinx>2 is not detecting that MathJax is enabled
# and so not rendering MathJax inside the tooltips
sphinx-tabs==1.1.13  # pyup: ignore

sphinx-prompt==1.3.0
sphinx-version-warning==1.1.2
sphinx-notfound-page==0.6
sphinx-autobuild==2020.9.1
