sphinx==4.3.0
sphinx-autoapi==1.8.4
sphinx-rtd-theme==1.0.0
sphinx-tabs==3.2.0
sphinx-prompt==1.4.0
sphinx-version-warning==1.1.2
sphinx-notfound-page==0.7.1
sphinx-autobuild==2021.3.14
sphinxcontrib-bibtex==2.4.1
